body 
{   
    
background-color:#F3D2B2;
    height: 500PX; 
    background-position: RELATIVE;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.from
 {
     border: 5px solid #f1f1f1;
     border-radius:5px;
     border:transparent;
     position: relative;
     background-color:white;
     margin: 100px auto;
     width:25%;
     padding: 5px;
     text-align: center;
}
.button
{
         background: #112286;
         color: white;
	
         padding: 10px;
         text-align: center;
         font-size: 15px;
         margin-left:50%;
         cursor: pointer; 
	position:relative;
	height:15%;
	width:15%;
}